<include file="Index/header"/>
<style type="text/css">
            /*#more{margin:10px auto;width: 560px;  border: 1px solid #999;}               */
            /*.single_item{padding: 20px; border-bottom: 1px dotted #d3d3d3;}*/
            .more_loader_spinner{width:20px; height:20px; margin:10px auto; background: url("__PUBLIC__/Images/loader.gif") no-repeat;}
        </style>
  <div class="container middle marketing">
      <div class="row featurette">
        <div class="col-sm-9 blog-main">
            <div class="blog-post article">

                <div class="row" style="margin-left:5px;margin-right:5px;word-break:break-all;">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <h2>相关分类结果约&nbsp;<span id="count">0</span>&nbsp;个</h2>

                                <!-- 加载更多 -->
                                <div id="more">  
                                    <div class="single_item">
                                        <div class="hr-line-dashed"></div>
                                        <div class="search-result">
                                            <h3 class="title"></h3>
                                            <small>
                                                <i class="fa fa-clock-o"></i>&nbsp;
                                                <span class="time"></span>&nbsp;&nbsp;&nbsp;
                                                <i class="fa fa-bookmark-o"></i>&nbsp;
                                                <span class="typename"></span>
                                            </small>
                                            <p class="describe"></p>
                                        </div>
                                    </div>
                                    <div class="comment-load-more get_more"><a>加载更多...</a></div>
                                </div>

                                <!-- <div class="hr-line-dashed"></div>
                                <div class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i>
                                        </button>
                                        <button class="btn btn-white">1</button>
                                        <button class="btn btn-white  active">2</button>
                                        <button class="btn btn-white">3</button>
                                        <button class="btn btn-white">4</button>
                                        <button class="btn btn-white">5</button>
                                        <button class="btn btn-white">6</button>
                                        <button class="btn btn-white">7</button>
                                        <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> 
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Index/sidebar"/>
      </div>
  </div><!-- /.container -->

<include file="Index/footer"/>
<script type="text/javascript">
        $(function() {
                var url = "{:U('Home/Article/click_get_more')}?aid={$aid}";
                $('#more').more({
                    'address': url,
                    'amount' : '10'
                })
            });
</script>